* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Mukta Mahee", sans-serif;
}

body {
	color: #fff;
}

header {
	display: flex;
	align-items: center;
	margin: 20px;
	position: relative;
	z-index: 1;
}

.logo-header {
	width: 80px;
	height: 80px;
}

a {
	cursor: pointer;
	margin-left: 30px;
	font-size: 20px;
	transition: 0.8s;

	&:hover {
		color: #c51111;
	}
}

a:active {
	opacity: 0.7;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 40px;
	position: relative;
	z-index: 1;
}

.container {
	width: 40%;
	margin: 20px;
}

.logo {
	height: 200px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
	font-size: 15px;
}

button {
	background-color: #c51111;
	color: #fff;
	border-radius: 5px;
	border: none;
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;

	&:hover {
		background-color: #8b0000;
	}
}

button:active {
	opacity: 0.7;
}

.irmaos {
	height: 500px;
}

footer {
	display: flex;
	justify-content: end;
	position: relative;
	z-index: 1;
	margin: 20px;
}

.whatsapp {
	width: 60px;
	height: 60px;
	transition: 0.5s;

	&:hover {
		opacity: 0.5;
	}
}

.whatsapp:active {
	opacity: 0.3;
}

.video {
	position: fixed;
	z-index: -1;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	object-fit: cover;
}

.mascara {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		109deg,
		rgba(10, 12, 16, 0.99) 15%,
		rgba(10, 12, 16, 0.7) 50%,
		rgba(10, 12, 16, 0.99) 85%
	);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
}

.mascara-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background: linear-gradient(
		109deg,
		rgba(10, 12, 16, 0.99) 15%,
		rgba(10, 12, 16, 0.7) 50%,
		rgba(10, 12, 16, 0.99) 85%
	);
}

form {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 30%;
	left: -300px;
	padding: 20px;
	border-radius: 5px;
	gap: 20px;
	z-index: 2;
}

input {
	height: 40px;
	border-radius: 5px;
	border: 1px solid #888686;
	padding-left: 5px;
	outline-color: #18d80f;
}

textarea {
	height: 100px;
	width: 270px;
	border-radius: 5px;
	border: 1px solid #888686;
	padding-left: 5px;
	outline-color: #18d80f;
}

.form-button {
	background-color: #c51111;
	color: #fff;
	border-radius: 5px;
	border: none;
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
	margin: 0 auto;

	&:hover {
		background-color: #8b0000;
	}
}

/*
Inicial
top: 30%
left: -300px;

Final
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
*/
